@import url('../styles/theme.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #14A800;
  --text-brand: var(--brand-color);
  --bg-brand: var(--brand-color);

  --bg-brand-light: #14a80080;
}


body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .border-color {
    @apply border-gray-200 dark:border-dark-400;
  }

  .ring-color {
    @apply ring-gray-200 dark:ring-dark-400;
  }

  .bg-brand-light {
    @apply bg-green-500/20;
  }

  .bg-brand {
    @apply bg-green-500;
  }

  .text-brand {
    @apply text-green-500;
  }

  .border-brand {
    @apply border-green-500;
  }
}

.primary-color {
  color: var(--brand-color);
}

.profile-wrapper {
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.sharp-border {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}